<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!DOCTYPE html>
<html lang"en">
<head>
    {% load static %}
    <meta charset"UTF-8">
    <meta name"viewport" content"widthdevice-width, initial-scale1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <table class="table">
        {% if params %}
        <thead>
          <tr>
            <th scope="col">#</th>
    <th scope="col">Item_Code </th>
    <th scope="col">Item_name </th> 
    <th scope="col">Color  </th>
    <th scope="col">width  </th>
    <th scope="col">GSM_Size  </th>
    <th scope="col">Weight_KGS  </th>
    <th scope="col">Qty  </th>
    <th scope="col">Material_Content </th>  
    <th scope="col">Category_End_use  </th>
    <th scope="col">OLD_Code  </th>
    <th scope="col">Source_vendor_detail </th>  
    <th scope="col">Date  </th>
    <th scope="col">PRICE  </th>
    <th scope="col">GST  </th>
    <th scope="col">Thickness </th> 
    <th scope="col">Received_Date  </th>
    <th scope="col">Received_BY  </th>
    <th scope="col">Vendor_Code	  </th>
    <th scope="col">Remarks  </th>
    <th scope="col">Design_Print_GG </th>  
    <th scope="col">Qty_in_MTR  </th>
    <th scope="col">Micron  </th>
    <th scope="col">Count  </th>
    <th scope="col">Fiber_Length </th>  
    <th scope="col">Mtr  </th>
    <th scope="col">Color  </th>
    <th scope="col">Shade_No  </th>
    <th scope="col">Style_name </th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
              
              
    {%for params in params%}
    <th scope="row">{{forloop.counter}}</th>
    <a href=""><td>{{params.Item_Code}} </td></a>
    <td>{{params.Item_name}} </td>  
    <td>{{params.Color}} </td>  
    <td>{{params.width}} </td>  
    <td>{{params.GSM_Size }} </td> 
    <td>{{params.Weight_KGS}} </td>  
    <td>{{params.Qty}} </td>  
    <td>{{params.Material_Content}} </td>  
    <td>{{params.Category_End_use}} </td>  
    <td>{{params.OLD_Code}} </td>  
    <td>{{params.Source_vendor_detail }} </td> 
    <td>{{params.Date}} </td>  
    <td>{{params.PRICE  }} </td>
    <td>{{params.GST}} </td>  
    <td>{{params.Thickness}} </td>  
    <td>{{params.Received_Date}} </td>  
    <td>{{params.Received_BY}} </td>  
    <td>{{params.Vendor_Code}} </td>	  
    <td>{{ params.Remarks}} </td>  
    <td>{{params.Design_Print_GG}} </td>  
    <td>{{params.Qty_in_MTR}} </td>  
    <td>{{params.Micron}} </td>  
    <td>{{params.Count}} </td>  
    <td>{{params.Fiber_Length}} </td>  
    <td>{{params.Mtr}} </td>  
    <td>{{params.Color}} </td>  
    <td>{{params.Shade_No}} </td>  
    <td>{{params.Style_name}} </td>
          </tr>
    {%endfor%}
    {% else %}
    {%endif%}
    
        </tbody>
      </table>
</div>
</div>
<footer class="text-center text-lg-start" style="background-color: #232222;">
    <div class="container d-flex justify-content-center">
          © 2024 Copyright Created By:
          <a class="text-white" href="https://myawesomecart.pythonanywhere.com">Developer</a>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
    
</body>
</html>