<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static '/image/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="/">Mojopanda Exim Private Limited</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="submit-button" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Add other navigation items here -->
        </ul>
    </div>
</nav>


  {%for params in params%}
  <div class="container">
    <div class="detail-header">
      <h2>Item Details</h2>
    </div>
    <div class="detail-body">
      <!-- Repeat this block for each detail item -->
      <div class="detail-item">
        <span class="detail-label">Product Code:</span>
        <span class="detail-value">{{params.Item_Code}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Item Name:</span>
        <span class="detail-value">{{params.Item_name}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Raw Material:</span>
        <span class="detail-value">{{params.Raw_Material}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Category:</span>
        <span class="detail-value">{{params.Category}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Material Content:</span>
        <span class="detail-value">{{params.Material_Content}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Color:</span>
        <span class="detail-value">{{params.Color}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Design Print GG:</span>
        <span class="detail-value">{{params.Design_Print_GG}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Width:</span>
        <span class="detail-value">{{params.Width }}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Count:</span>
        <span class="detail-value">{{params.Count}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Thickness :</span>
        <span class="detail-value">{{params.Thickness}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">GSM:</span>
        <span class="detail-value">{{params.GSM}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Micron:</span>
        <span class="detail-value">{{params.Micron}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Size:</span>
        <span class="detail-value">{{params.Size}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Weight Kgs:</span>
        <span class="detail-value">{{params.Weight_Kgs}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">QTY:</span>
        <span class="detail-value">{{params.QTY}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">QTY MTR:</span>
        <span class="detail-value">{{params.QTY_MTR}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Category End Use:</span>
        <span class="detail-value">{{params.Category_End_use}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">OLD Code:</span>
        <span class="detail-value">{{params.OLD_Code}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Source Vendor Detail:</span>
        <span class="detail-value">{{ params.Source_vendor_detail}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Date:</span>
        <span class="detail-value">{{params.date}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Date:</span>
        <span class="detail-value">{{params.date}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Price:</span>
        <span class="detail-value">{{params.Price}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Qty:</span>
        <span class="detail-value">{{params.Qty_G}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">GST:</span>
        <span class="detail-value">{{params.GST}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Received Date:</span>
        <span class="detail-value">{{params.Received_Date}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Recived by:</span>
        <span class="detail-value">{{params.Recived_by}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Vendor Code:</span>
        <span class="detail-value">{{params.Vendor_Code}}</span>
      </div>
      <hr>
      <div class="detail-item">
        <span class="detail-label">Remark:</span>
        <span class="detail-value">{{params.Remark}}</span>
      </div>
      <hr>
      <!-- Add more detail items here -->
      <div class="image-container">
        <a href="/media/{{params.images}}"><img src="/media/{{params.images}}"></a>

      </div>
      

      <div class="border">
      </div>

      {%endfor%}

    </div>
  </div>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>

</html>