<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9PC_sz0uNpfgOx1fw5gqvZa_eyzPhmq1FUs3KSpreok" />
    <title>MojoPanda Exim Private Limited</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="/">Mojopanda Exim Private Limited</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="submit-button" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Add other navigation items here -->
        </ul>
    </div>
</nav>



<div class="container product-table">
  <form method="post">
    {% csrf_token %}
    <input type="text" name="code" class="search-bar" placeholder="Discover Products or Categories">
    <input type="submit" class="submit-button" value="Find Now">
  </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Serial No.</th>
                <th scope="col">Product Code</th>
                <th scope="col">Product Name</th>
                <!-- Add more columns if needed -->
            </tr>
        </thead>
        {%for params in params%}
        <tbody>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href= "{% url 'details' params.id %}">{{params.Item_Code}}</a></td>
          <td><a href="{% url 'details' params.id %}">{{params.Item_name}}</a> </td>
        </tbody>
        {%endfor%}
    </table>
</div>
<footer class="bg-dark text-white">
  <style>
      .copy {
          padding: 20px;
          background-color: #2E2E2E;
          color: #FFF;
      }

      .copy a {
          color: #FFF;
      }

      .copy span {
          float: right;
      }

      .copy span i {
          margin-right: 20px;
      }
  </style>
  <div class="copy">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
      <div class="container">
          <a href="https://www.mandeep-developer.site/">2024 &copy; All Rights Reserved | Designed and Developed
              by
              Developer</a>

          <span>
              <a href="https://www.mandeep-developer.site/" target="_blank"><i class="far fa-user-circle"></i></a>
              <a href="https://github.com/Mannu258" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://twitter.com/Mannu_258" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/mandeep-mishra-843378223/" target="_blank"><i
                      class="fab fa-linkedin"></i></a>
          </span>
      </div>
  </div>
</footer>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
