body {
    background-color: #f8f9fa;
    color: #333;
}

.navbar-custom {
    background-color: #004085;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

th {
    padding-left: 30px;
}

body {
    background-color: #f8f9fa;
    /* Light grey background */
}

.container {
    padding-top: 2rem;
}

.detail-header {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.detail-body {
    background-color: white;
    padding: 1rem;
    border: 1px solid #dee2e6;
    /* Bootstrap light grey border */
    border-top: none;
    /* Remove top border */
    border-radius: 0 0 0.5rem 0.5rem;
}

.detail-item {
    margin-bottom: 1rem;
}

.detail-item:last-child {
    margin-bottom: 0;
}

.detail-label {
    font-weight: bold;
}

.detail-value {
    float: right;
}



.image-container {
    /* Adjust border properties as needed */
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-right: 40px; /* Adjust spacing between images */
}

.submit-button {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.submit-button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

img {
    max-height: 100%;
    max-width: 100%;
}

.navbar-custom {
    background-color: #004085;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

a{
    padding:30px;
}
/* Add more custom styles as needed */